/* 
W.I.P -> Work In Progress :) 
*/
/* Typography */
/* Colors */
:root {
  --blue: #127dac;
  --lightBlue: #E8F5FA;
  --pink: #D41472;
  --lightPink: #FFEEF6;
  --gray: #44303C;
  --lightGray: #F6F5F6;
  --green: #1d764f; 
  --lightGreen: #D3F5DF; 

}
.btn.blue, .btn.blue:hover, .blue {
  background: var(--blue);
  color: #fff;  
}
.btn.blue.light {
  background: var(--lightBlue);
  color: var(--gray);  
}
.btn.green, .btn.green:hover, .green {
  background: var(--green);
  color: #fff;  
}
.btn.green.light {
  background: var(--lightGreen);
  color: var(--gray);  
}
.btn.pink, .btn.pink:hover, .pink {
  background: var(--pink);
  color: #fff;  
}
.btn.pink.light {
  background: var(--lightPink);
  color: var(--gray);  
}
.btn.gray, .btn.gray:hover .pink {
  background: var(--gray);
  color: #fff;  
}
.btn.gray.light {
  background: var(--lightGray);
  color: var(--gray);  
}
.badge.pink {
  background: var(--lightPink);
  color: var(--pink); 
}
.badge.blue {
  background: var(--lightBlue);
  color: var(--blue); 
}
.badge.green {
  background: var(--lightGreen);
  color: var(--green); 
}
.badge.gray {
  background: var(--lightGray);
  color: var(--gray); 
}
/* Buttons & styling used for buttons */
.btn {
  color: inherit;
  text-transform: none;
  box-shadow: none !important;
  font-size: 0.8125rem;
  cursor: pointer;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn:hover {
  color: inherit;
  text-decoration: none;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.animate:hover {
  transform: scale(1.03);
}
.animate:active {
  transform: scale(0.9);
}
/* Inputs */
input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input[type=text] {
  padding: 0.5rem; 
}